<header id="home">

  <nav id="nav-wrap">

    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
      <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
      <li><a class="smoothscroll" href="#about">Sobre mí</a></li>
      <li><a class="smoothscroll" href="#blog">Blog</a></li>
      <li><a class="smoothscroll" href="#interests">Intereses</a></li>
    </ul> <!-- end #nav -->

  </nav> <!-- end #nav-wrap -->

  <div class="row banner">
    <div class="banner-text">
      <h1 class="responsive-headline">Hola! Soy Jorge.</h1>
      <h3>También me conocen como <span>yoryer</span>. Soy <span>desarrollador de software</span> y te invito
        a conocer un poco más acerca de mi trabajo en este pequeño sitio web. Empieza <a class="smoothscroll"
          href="#about">mirando más abajo</a> para saber más <a class="smoothscroll" href="#about">sobre mí</a>.</h3>
      <hr />
      <ul class="social">
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:{{ site.email| cgi_escape | escape }}"><i class="fa fa-envelope"></i></a></li>
        <li><a href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-rss-square"></i></a></li>
      </ul>
    </div>
  </div>

  <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
  </p>

</header> <!-- Header End -->